


<style>

    #menue {
        margin-top: 25px;
        padding-top: 25px;
        float: left;
        width: 45%;
        height: 200px;
        text-align: center;
        background-color: orange;
        border: solid black 7px;
        margin: 2.5%;
        padding: 15px;
    }

    #witaj {
        float: left;
        width: 95%;
        height: 150px;
        border: solid black 7px;
        text-align: center;
        background-color: orange;
        margin: 2.5%;
        padding: 15px;
    }

    button {
        margin-top: 25px;
        padding-top: 25px;
        float: left;
        width: 45%;
        height: 300px;
        text-align: center;
        background-color: orange;
        border: solid black 7px;
        margin: 2.5%;
        padding: 15px;
        font-size: 50px;
    }

        button:hover {
            background-color: orangered;
        }
</style>


<div id="witaj">
    <h1>
        <img src="~/images/margonem6.gif" asp-append-version="true">Witaj w Margonem!<img src="~/images/margonem7.gif" asp-append-version="true">
    </h1>
</div>

<a asp-controller="Margonem" asp-action="Walka">
    <button>
        Walka! <br />
        <img src="~/images/margonem2.gif" asp-append-version="true">
    </button>
</a>

<a asp-controller="Margonem" asp-action="Details">
    <button>
        Sklep! <br />   
        <img src="~/images/margonem5.png" asp-append-version="true" width="115" height="115">
    </button>
</a>
